{
  "Kestrel": {
    "Endpoints": {
      "Grpc": {
        "Url": "https://localhost:5002"
      }
    }
  },
  "SigningOptions": {
    "SigningKeys": [
      {
        "PrivateKey": "-----BEGIN PRIVATE KEY-----\n<generate with: openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:2048>\n-----END PRIVATE KEY-----",
        "Kid": "<generate with: uuidgen>",
        "IsActive": true
      }
    ]
  },
  "ConnectionFactoryOptions": {
    "MasterHost": "localhost",
    "DefaultPort": 54320,
    "Database": "peerly-auth",
    "UserName": "peerly-auth-user",
    "Password": "pwd"
  },
  "Smtp": {
    "Host": "localhost",
    "Port": 1025,
    "SenderEmail": "noreply@peerly.local",
    "SenderName": "Peerly",
    "SecurityMode": "None",
    "VerificationBaseUrl": "http://localhost:3000/verify-email"
  },
  "KafkaProducer": {
    "BootstrapServers": "localhost:9092",
    "OutboxPollIntervalSeconds": 5,
    "OutboxBatchSize": 100
  }
}
